.siteheader {
  height: 100vh;
  position: relative;
  background: var(--color-primary);
  min-height: 65rem;
  padding: calc(var(--grid-gutter) * 15) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 2);
  overflow: hidden;
  &__spacer {
    height: 15rem;
    background: var(--color-primary);
    width: 100%;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &._invers {
    background: var(--bg-main);

    .siteheader__menu a {
      color: var(--color-primary);

      &.button {
        color: var(--color-white);
      }
    }

    .siteheader__burger span {
      background: var(--color-primary);
    }
  }

  &._empty {
    height: auto;
    min-height: unset;
    @media screen and (max-width: 900px) {
      height: 13rem;
    }
  }

  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 1);
    width: 100vw;
    overflow: hidden;
    height: 90vh;
  }

  &__top {
    position: absolute;
    width: calc(100% - (var(--grid-gutter) * 11));
    left: calc(var(--grid-gutter) * 5);
    top: calc(var(--grid-gutter) * 2);
    display: flex;
    gap: calc(var(--grid-gutter) * 2);
    justify-content: space-between;
    z-index: 5;
    @media screen and (max-width: 600px) {
      left: calc(var(--grid-gutter) * 1);
      top: calc(var(--grid-gutter) * 1.5);
      width: calc(100% - calc(var(--grid-gutter) * 2.5));
    }
  }

  &__burger {
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      cursor: pointer;
      span {
        width: 7rem;
        display: block;
        height: 2px;
        background: var(--color-white);
        margin-bottom: 8px;

        &:last-child {
          width: 5rem;
        }
      }
    }
  }

  &__img {
    position: absolute;
    height: 100%;
    top: calc(var(--grid-gutter) * 1);
    left: calc(var(--grid-gutter) * 1);
    width: calc(100% - calc(var(--grid-gutter) * 2));
    opacity: 0;
    @media screen and (max-width: 600px) {
      padding-top: calc(var(--grid-gutter) * 7);
      position: relative;
      width: calc(100% - calc(var(--grid-gutter) * 0));
      left: 0;
      height: auto;
    }

    &Block {
      width: 40vw;
      height: 15rem;
      background: var(--color-primary);
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      @media screen and (max-width: 900px) {
        display: none;
        bottom: -20px;

      }
    }

    img, picture {
      object-position: right top;
      object-fit: cover;
      border-radius: var(--border-radius);
      height: calc(100% - calc(var(--grid-gutter) * 1));
      width: 100%;
      @media screen and (max-width: 600px) {
        height: 50%;
        object-position: right bottom;
      }
    }
  }

  &__logo {
    img {
      width: 14rem;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    @media screen and (max-width: 900px) {
      display: none;
    }

    &._home {
      ul {
        transform: translateY(-10rem);
      }
    }
    &._spaces {
      ul {
        ul {
          a {
            &:hover {
              color:var(--color-primary) !important;
            }
          }
        }
      }

    }

    ul {
      display: flex;
      gap: 5rem;
      align-items: center;
      font-size: 1.65rem;


      li {
        display: inline-flex;
        position: relative;
      }

      ul {
        position: absolute;
        left: 3rem;
        top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: start;
        width: 15rem;
        padding-top: 2rem;
        @media screen and (max-width: 900px) {
          display: none;
        }

        li {
          transform: translateY(10px);
          transition: opacity 0.3s ease, transform 0.3s ease;
          opacity: 0;
          visibility: hidden;
          color: var(--color-primary) !important;

        }

        a {
          color: var(--color-white);
          padding: calc(var(--grid-gutter) * 0.5) calc(var(--grid-gutter) * 0);
          display: flex;
          gap: 1rem;

          &:hover {
            background: transparent;
            opacity: 0.8;
          }
        }
      }
    }

    a {
      color: var(--color-white);
      padding: calc(var(--grid-gutter) * 1.3) calc(var(--grid-gutter) * 2);
      transition: all 0.5s ease;
      display: flex;
      gap: 1rem;
      &:hover {
        background: #c1c1c1;
        color: var(--color-white) !important;
        transition: all 0.5s ease;
      }

      &.button {
        margin-left: 2rem;
        background: var(--color-primary);
        padding: calc(var(--grid-gutter) * 1.3) calc(var(--grid-gutter) * 2.5);
        border-radius: var(--border-radius);
      }
    }
  }


  &__hero {

    padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
    position: absolute;
    right: 0;
    color: var(--color-white);
    width: 68rem;
    bottom: calc(var(--grid-gutter) * 0.5);

    @media screen and (max-width: 600px) {
      padding: calc(var(--grid-gutter) * 1);
      left: 0;
      right: unset;
      width: 100%;
      bottom: calc(var(--grid-gutter) * 5);
      background: transparent;
    }
    &Bg {
      background: var(--color-primary);
      width: 100%;
      height: 100%;
      position: absolute;
      border-top-left-radius: var(--border-radius);
    }

    h1 {
      margin-bottom: calc(var(--grid-gutter) * 2);
    }

    p {
      font-size: var(--font-h3);
      line-height: calc(var(--font-h3) + 1rem);
    }
  }

  .siteheader__heroAni {
    opacity: 0;
    padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 1);
    @media screen and (max-width: 900px) {
      width: 100%;
      opacity: 0;
      padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 1);
    }
  }

  &__welcome {
    font-size: 13.5rem;
    line-height: 12rem;
    text-transform: uppercase;
    font-family: 'Suisse Regular', Arial;
    color: var(--color-white);
    position: absolute;
    left: calc(var(--grid-gutter) * 5);
    bottom: calc(var(--grid-gutter) * 50 * -1);

    @media screen and (max-width: 600px) {

      font-size: 8.5rem;
      line-height: 8rem;
      left: calc(var(--grid-gutter) * 1);
      width: 100%;
      background: transparent;
      padding-top: calc(var(--grid-gutter) * 2);
      padding-bottom: calc(var(--grid-gutter) * 2);
      bottom: calc(var(--grid-gutter) * 38 * -1);
    }

    span {
      display: block;
    }

    &Agile {
      margin-left: 3rem;
    }

    &Driven {
      margin-left: 15rem;
      @media screen and (max-width: 600px) {
        margin-left: 0;
        text-align: right;
        padding-right: calc(var(--grid-gutter) * 2);
      }
    }

    &Business {
      @media screen and (max-width: 600px) {

        text-align: right;
        padding-right: calc(var(--grid-gutter) * 2);
      }
    }

    &Hub {
      margin-left: 38rem;
      @media screen and (max-width: 600px) {
        margin-left: 0;
        text-align: right;
        padding-right: calc(var(--grid-gutter) * 2);
      }
    }
  }
}


.siteheader__menu ul li:hover li:nth-child(1) {
  transition-delay: 0.1s;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.siteheader__menu ul li:hover li:nth-child(2) {
  transition-delay: 0.2s;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.siteheader__menu ul li:hover li:nth-child(3) {
  transition-delay: 0.3s;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}


.start {
  background: var(--bg-main);
  color: var(--bg-main);
  padding: calc(var(--grid-gutter) * 5);

  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 1);
  }

  &__item {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: calc(var(--grid-gutter) * 5);
    padding-bottom: calc(var(--grid-gutter) * 5);
    border: 2px solid var(--color-primary);
    border-radius: var(--border-radius);
    max-width: 1800px;
    margin: 0 auto;

    &Header {
      .header();
      color: var(--color-primary);
      text-transform: uppercase;
      margin-bottom: calc(var(--grid-gutter) * 1.5);
    }

    &Body {
      .text();
      color: var(--color-black);
      padding-left: calc(var(--grid-gutter) * 12);
      padding-right: calc(var(--grid-gutter) * 12);
      @media screen and (max-width: 600px) {
        padding-left: calc(var(--grid-gutter) * 2);
        padding-right: calc(var(--grid-gutter) * 2);
      }
    }
  }
}

.teams {
  color: var(--bg-main);
  padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 3) calc(var(--grid-gutter) * 3);
  background: var(--color-primary);
  @media screen and (max-width: 900px) {

    padding: calc(var(--grid-gutter) * 1);
  }

  &__item {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-bottom: calc(var(--grid-gutter) * 2);
    gap: calc(var(--grid-gutter) * 2);

    max-width: 1800px;
    margin: 0 auto;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding: calc(var(--grid-gutter) * 0);
    }

    hr {
      margin: calc(var(--grid-gutter) * 1) 0 calc(var(--grid-gutter) * 1) 0;
      border-bottom: 1px solid var(--color-white);
      border-top: 0;
    }

    p {
      margin-bottom: calc(var(--grid-gutter) * 2);
    }

    &Left {
      flex: 0.55;
      @media screen and (max-width: 900px) {
        height: 50vh;
        flex:1;
        width: 100%;
      }
      img {
        border-radius: var(--border-radius);
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
      }
    }

    &Right {
      flex: 0.45;
      border-radius: var(--border-radius);
      border: 2px solid var(--color-white);
      padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 9) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 5);
      text-align: left;

      .text();
      @media screen and (max-width: 900px) {
        padding: calc(var(--grid-gutter) * 2);
      }

      img {
        margin-bottom: calc(var(--grid-gutter) * 2);
        max-width: 23rem;
      }
    }
  }

  &__close {
    position: absolute;
    right: 4rem !important;
    top: 4rem !important;
    width: 3rem !important;
    @media screen and (max-width: 900px) {
      right: 4rem !important;
      top: 4rem !important;
      width: 3rem !important;
    }
  }

  &__tabs {
    padding: calc(var(--grid-gutter) * 0) calc(var(--grid-gutter) * 6);
    gap: calc(var(--grid-gutter) * 3);
    display: flex;
    flex-direction: column;
    //   height: 40rem;
    @media screen and (max-width: 900px) {
      padding: calc(var(--grid-gutter) * 1);

    }

    &Left {
      flex: 1;
      @media screen and (max-width: 900px) {
        flex: 1;
        width: 100%;
      }
    }

    &Right {
      flex: 0.3;
      display: none;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
      }

      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    hr {
      margin: calc(var(--grid-gutter) * 0) 0 calc(var(--grid-gutter) * 0) 0;
      border-bottom: 1px solid var(--color-white);
      border-top: 0;
      width: 100%;
      @media screen and (max-width: 900px) {
        width: 100%;
      }
    }

    &Item {

      display: flex;
      cursor: pointer;
      gap: calc(var(--grid-gutter) * 2);
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }

      &L {
        display: flex;
        flex-direction: column;
        gap: calc(var(--grid-gutter) * 1);

      }

      &R {
        flex: 0.8;
      }

      &Header {
        .headerBig();
        font-size: 7rem;
        color: var(--color-white);
        position: relative;
        display: flex;
        padding: calc(var(--grid-gutter) * 2);
        width: 100%;
        flex-direction: row;
        gap: calc(var(--grid-gutter) * 6);
        @media screen and (max-width: 900px) {
          flex-direction: column;
          font-size: 5.5rem;
          gap: calc(var(--grid-gutter) * 2);
        }
        span {

          .text();
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-flex;
          position: relative;
          top: -0.25rem;
        }

        img {
          position: absolute;
          right: calc(var(--grid-gutter) * 2);
          top: 6rem;
          width: calc(var(--grid-gutter) * 3);
          @media screen and (max-width: 900px) {
            top:5rem;
          }
        }
      }

      &Text {
        display: none;

      }

      &._open {
        .teams__tabsRight {
          border-radius: var(--border-radius);
          background: rgba(255, 255, 255, 0.18);
          display: block;
          @media screen and (max-width: 900px) {
            display: none;
          }
        }

        .teams__tabsItemHeader {
          background: #EDEDEB;
          padding: calc(var(--grid-gutter) * 2);
          border-radius: var(--border-radius);
          color: var(--color-primary);

          img.teams__arrow {
            display: none;
          }
        }

        span {
          color: var(--color-black);
        }

        .teams__tabsItemText {
          color: var(--color-black);
          .text();
          display: block !important;
        }
      }

    }
  }

}

.floors {
  background: var(--bg-main);
  color: var(--bg-main);
  max-width: 1800px;
  margin: 0 auto  calc(var(--grid-gutter) * 4)   calc(var(--grid-gutter) * 4);

  overflow: hidden;
  .swiper-slide {

  }
  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 1);
    margin: 0 auto  calc(var(--grid-gutter) * 2);
  }

  &__arrow {
    display: flex;
    justify-content: end;
    gap: calc(var(--grid-gutter) * 0.5);
    padding-right:  calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 900px) {
      padding-right: 0;
      justify-content: center;
    }
    span {
      cursor: pointer;
      display: flex;
      border: 2px solid var(--color-primary);
      padding: calc(var(--grid-gutter) * 0.5) calc(var(--grid-gutter) * 0.5);
      border-radius: 1rem;
      @media screen and (max-width: 900px) {
        padding: calc(var(--grid-gutter) * 1.5) calc(var(--grid-gutter) * 1.5);
      }
      &:hover {
        background: var(--color-primary);

        img {
          filter: brightness(0) invert(1);
        }
      }

      img {
        width: 2.5rem;
      }
    }
  }

  &__item {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-bottom: calc(var(--grid-gutter) * 1);
    border-radius: var(--border-radius);
    gap: calc(var(--grid-gutter) * 6);
    @media screen and (max-width: 900px) {
      flex-direction: column;
      margin-top: calc(var(--grid-gutter) * 3);
    }
    p {
      margin-top: calc(var(--grid-gutter) * 1);
      margin-bottom: calc(var(--grid-gutter) * 2);
      color:var(--color-primary);
      text-align: left;
    }
    &Left {
      flex: 1;
      display: flex;
      align-items: center;
      cursor: zoom-in;
    }

    &Right {
      flex: 1;
      padding-right:  calc(var(--grid-gutter) * 4);
      @media screen and (max-width: 900px) {
        padding-right: 0;
      }
    }

    &Header {
      .header();
      color: var(--color-primary);
      margin-bottom: calc(var(--grid-gutter) * 1.5);
      text-align: left;
    }

    &Body {
      .text();
      color: var(--color-black);
      padding-left: calc(var(--grid-gutter) * 12);
      padding-right: calc(var(--grid-gutter) * 12);
      @media screen and (max-width: 600px) {
        padding-left: calc(var(--grid-gutter) * 2);
        padding-right: calc(var(--grid-gutter) * 2);
      }
    }
  }

  hr {
    margin: calc(var(--grid-gutter) * 1) 0 calc(var(--grid-gutter) * 1) 0;
    border-bottom: 1px solid var(--color-primary);
    border-top: 0;
  }

  .table-wrapper {
    max-height: 50rem;
    overflow-y: auto;

  }

  &__totals {
    margin-bottom: var(--grid-gutter);

    td {
      &:first-child {
        width: 7rem;
      }

      &:nth-child(2) {
        width: 40rem;
      }

      &:nth-child(3) {
        width: 28rem !important;
      }

      &:last-child {
        width: 10rem;
      }
    }
  }

  table {
    color: var(--color-primary);
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.5rem;

    thead,
    tbody,
    tr {
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }

    thead {
      position: sticky;
      top: 0;
      background: var(--bg-main);
      z-index: 1;
    }

    tr {
      &:hover {
        td {
          &._fill {
            background: #d4d2c9;

          }

          &._fill:first-child {
            background: var(--color-primary);
            color: var(--color-white);
          }

        }
      }
    }

    th, td {
      padding: 2rem;
      font-weight: 300;
    }

    td {
      font-size: calc(var(--font-body) - 0.3rem);
      &._fill {
        background: #e2e2e1;
      }

    }
  }
}

.image {
  overflow-x: hidden;
  @media screen and (max-width: 600px) {
    height: 70vh;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

.numbers {
  background: var(--color-primary);
  padding: calc(var(--grid-gutter) * 8) calc(var(--grid-gutter) * 5);
  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 6) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 8);
  }

  &__inner {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    gap: calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 900px) {

      padding: calc(var(--grid-gutter) * 1);
    }
  }

  &Header {
    .header();
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: calc(var(--grid-gutter) * 3);
  }

  &__items {
    display: flex;
    gap: var(--grid-gutter);
    color: var(--color-white);
    margin: 0 auto;
    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
      display: flex;
      row-gap: calc(var(--grid-gutter) * 3);
    }
  }

  &__item {
    flex: 1;
    width: 19rem;
    opacity: 0;
    transform: translateY(20px);
    @media screen and (max-width: 600px) {

      min-width: 45%;

    }

    h2 {
      .headerBig();
      margin-bottom: calc(var(--grid-gutter) * 1.5);
      @media screen and (max-width: 600px) {
        margin-bottom: calc(var(--grid-gutter) * 0.5);
      }
    }

    p {
      .textSmall();
    }
  }
}

.location {
  background: var(--bg-main);

  padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: calc(var(--grid-gutter) * 1);
  }

  &__inner {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    gap: calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding: calc(var(--grid-gutter) * 1);
    }
  }


  &__map {

    width: 58%;
    @media screen and (max-width: 900px) {
      max-width: unset;
      width: 100%;
    }
  }

  &__description {

    display: flex;
    flex: 1;
    align-items: center;
    gap: calc(var(--grid-gutter) * 2);
    border: 2px solid var(--color-primary);
    border-radius: var(--border-radius);
    padding-left: calc(var(--grid-gutter) * 6);
    padding-right: calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 600px) {
      align-items: unset;
      flex-direction: row;
      max-width: unset;
      padding: calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 0) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 4);
    }

    &Item {
      display: flex;
      flex-direction: column;
      gap: var(--grid-gutter);
      flex: 1;

      &:first-child {
        flex: 0.55;
      }

      &:last-child {
        flex: 0.45;
      }

      @media screen and (max-width: 600px) {
        flex: 1;
        gap: calc(var(--grid-gutter) * 3);
        width: 100%;
      }


      &Icon {
        display: flex;
        flex-direction: column;
        margin-bottom: calc(var(--grid-gutter) * 2);
        @media screen and (max-width: 900px) {
          margin-bottom: calc(var(--grid-gutter) * 1);
        }

        img {
          width: calc(var(--grid-gutter) * 5);
          max-width: calc(var(--grid-gutter) * 5);
          left: -4rem;
          position: relative;
          @media screen and (max-width: 900px) {
            left: 0;
          }
        }
      }

      ul {
        li {
          margin-bottom: 5rem;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            left: -3.5rem;
            width: 1rem;
            height: 1rem;
            background: var(--color-primary);
            top: 2rem;
          }

          span {
            display: block;
            margin-top: 1rem;
            color: var(--color-primary);
          }
        }
      }

    }
  }
}

.features {
  display: flex;
  gap: calc(var(--grid-gutter) * 5);
  flex-direction: column;
  padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 3) calc(var(--grid-gutter) * 4);
  background: var(--bg-main);

  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 1);
    gap: calc(var(--grid-gutter) * 2);
  }

  &__inner {
    max-width: 1800px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    gap: calc(var(--grid-gutter) * 2);
  }

  img {
    border-radius: var(--border-radius);
  }

  &__top {
    display: flex;
    gap: calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    &Image {
      width: 68rem;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }

    &Text {
      flex: 1;

      border: 2px solid var(--color-primary);
      border-radius: var(--border-radius);

      h3 {
        margin: calc(var(--grid-gutter) * 10) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 1);
        .headerSmall();
        color: var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
        padding-bottom: calc(var(--grid-gutter) * 1);
      }

      p {
        padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 5);
        .text();
      }
    }
  }

  &__gallery {
    display: flex;
    gap: var(--grid-gutter);
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.working {
  padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
  background: var(--bg-main);

  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 1);
  }

  &__inner {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
  }

  &__top {
    display: flex;
    gap: calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    &Image {
      flex: 1;

      img {
        border-radius: var(--border-radius);
      }
    }

    &Text {
      border-radius: var(--border-radius);
      width: 74rem;
      border: 2px solid var(--color-primary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      h3 {
        margin: calc(var(--grid-gutter) * 5) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 6);
        .headerSmall();
        color: var(--color-primary);
        text-transform: uppercase;
        @media screen and (max-width: 600px) {
          margin: calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 2);
        }
      }

      p {
        padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 7) calc(var(--grid-gutter) * 5) calc(var(--grid-gutter) * 6);
        .text();
        margin-bottom: 0;
        @media screen and (max-width: 600px) {
          padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
        }
      }
    }
  }
}

.design {
  padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
  background: var(--bg-main);
  position: relative;
  z-index: 10;
  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 1);
  }

  &__inner {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;

    gap: calc(var(--grid-gutter) * 2);
  }

  &__top {
    display: flex;
    gap: calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 600px) {
      flex-direction: column;
      flex-direction: column-reverse;
    }

    &Image {
      flex: 1;

      img {
        border-radius: var(--border-radius);
      }
    }

    &Text {
      border-radius: var(--border-radius);
      width: 74rem;
      border: 2px solid var(--color-primary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      h3 {
        margin: calc(var(--grid-gutter) * 5) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 5);
        .headerSmall();
        color: var(--color-primary);
        text-transform: uppercase;
        @media screen and (max-width: 600px) {
          margin: calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 2);
        }
      }

      p {
        padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 7) calc(var(--grid-gutter) * 5) calc(var(--grid-gutter) * 5);
        .text();
        margin-bottom: 0;
        @media screen and (max-width: 600px) {
          padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
        }
      }
    }
  }
}

.tabs {
  background: var(--color-primary);
  color: var(--color-white);
  padding: calc(var(--grid-gutter) * 5) calc(var(--grid-gutter) * 20);
  display: flex;
  flex-direction: column;
  gap: var(--grid-gutter);

  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 1);
  }

  &__item {
    border: 2px solid var(--color-white);
    border-radius: var(--border-radius);
    padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 1.5);
    position: relative;
    cursor: pointer;

    img {
      position: absolute;
      right: calc(var(--grid-gutter) * 3);
      top: 4rem;
      width: calc(var(--grid-gutter) * 2);
      transition: transform 0.3s ease;
    }

    &Header {
      .headerSmall();
    }

    &Text {

      height: 0;
      padding-right: calc(var(--grid-gutter) * 6);
      .text();
      color: var(--color-white);
    }

    &._open {
      .tabs__itemText {
        margin-top: 2rem;
      }

      img {
        transform: rotate(-180deg);
      }
    }
  }
}


.infrastructure {
  display: flex;
  gap: calc(var(--grid-gutter) * 2);
  flex-direction: column;
  padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
  background: var(--bg-main);
  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 1);
  }

  &__inner {
    max-width: 1800px;
    margin: 0 auto;
  }

  img {
    border-radius: var(--border-radius);
  }

  hr {
    margin: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 4);
    border-bottom: 1px solid var(--color-primary);
    border-top: 0;
  }

  &__top {
    display: flex;
    gap: calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    &Image {
      width: 78rem;
    }

    &Text {
      flex: 1;

      border: 2px solid var(--color-primary);
      border-radius: var(--border-radius);

      h3 {
        margin: calc(var(--grid-gutter) * 10) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 4);
        .headerSmall();
        color: var(--color-primary);
        text-transform: uppercase;
        @media screen and (max-width: 600px) {
          margin: calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 2);
        }
      }

      p {
        padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 4);
        .text();
        margin-bottom: 0;
        @media screen and (max-width: 600px) {
          padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
        }
      }
    }
  }

}

.team-bg {
  background: var(--color-primary);
}

.team {

  padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);

  background: var(--bg-main);
  @media screen and (max-width: 600px) {
    padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 1);
    margin: 0;
    border-radius: 0;
    border: 0;
    background: var(--bg-main);
  }

  &__container {
    border: 2px solid var(--color-primary);
    padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 4);
    border-radius: var(--border-radius);
    margin: 0 auto;
    max-width: 1800px;
  }

  &__header {
    .header();
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    padding: calc(var(--grid-gutter) * 4);
    margin-bottom: calc(var(--grid-gutter) * 0)
  }


  &__list {
    display: flex;
    gap: calc(var(--grid-gutter) * 5);
    margin-top: calc(var(--grid-gutter) * 0);
    padding: calc(var(--grid-gutter) * 2);
    @media screen and (max-width: 600px) {
      flex-direction: column;
      padding: calc(var(--grid-gutter) * 0);
    }

    &Team {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: calc(var(--grid-gutter) * 2);

      &Header {
        text-transform: uppercase;
        color: var(--color-black);

      }

      &Logo {

      }

      &Text {
        .text();
      }
    }
  }

}

.contacts {
  text-align: center;
  padding-top: calc(var(--grid-gutter) * 6);
  padding-bottom: calc(var(--grid-gutter) * 6);
  background: var(--bg-main);

  &__header {
    .header();
    color: var(--color-primary);
    margin-bottom: calc(var(--grid-gutter) * 2);
  }

  &__name {
    .header();
    margin-bottom: calc(var(--grid-gutter) * 2);

    span {
      .text();
      display: block;
    }
  }

  &__address {
    .text();
  }
}

.footer {
  background: var(--color-primary);
  min-height: 10rem;
  padding: calc(var(--grid-gutter) * 10) calc(var(--grid-gutter) * 4) calc(var(--grid-gutter) * 2);
  display: flex;
  justify-content: space-between;
  gap: calc(var(--grid-gutter) * 2);
  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 2);
  }

  &__logo {
    img {
      width: 14rem;
    }
  }

  &__menu {
    display: flex;
    align-items: end;

    ul {
      display: flex;

      font-size: var(--font-small);
      @media screen and (max-width: 600px) {
        display: inline-flex;
        flex-wrap: wrap;

      }

      li {
        display: inline-flex;
      }
    }

    a {
      color: var(--color-white);
      padding: calc(var(--grid-gutter) * 1.3) calc(var(--grid-gutter) * 2);
      transition: all 0.5s ease;
      display: flex;
      gap:1rem;
      &:hover {
        background: #c1c1c1;
        color: var(--color-white);
        transition: all 0.5s ease;
      }

      &.button {
        margin-left: 2rem;
        background: var(--color-primary);
        padding: calc(var(--grid-gutter) * 1.3) calc(var(--grid-gutter) * 2.5);
        border-radius: var(--border-radius);
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  top: -100%;

  &.active {
    top: 0;
    opacity: 1;
    visibility: visible;
  }

  h2 {
    margin-bottom: calc(var(--grid-gutter) * 2);
    .headerSmall();
  }

  form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-gutter) * 1);

    input[type="text"] {
      width: 100%;
      background: var(--color-white);
      padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 1);
      border: 1px solid var(--color-primary);
      border-radius: calc(var(--border-radius) / 2);
    }

    button {
      margin: 0 auto;
      background: var(--color-primary);
      padding: calc(var(--grid-gutter) * 1) calc(var(--grid-gutter) * 2);
      color: var(--color-white);
      width: fit-content;
      border-radius: var(--border-radius);
      cursor: pointer;
    }
  }
}


.popup__content {
  background: var(--bg-main);
  padding: calc(var(--grid-gutter) * 4);
  max-width: 60rem;
  width: 90%;

  border-radius: var(--border-radius);
  position: relative;
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.popup.active .popup__content {
  transform: translateY(0);
}

.popup__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}

.mobilemenu {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: -100%;
  transition: all 0.3s ease;

  ul {
    width: 80vw;
    background: var(--color-white);
    height: 100%;
    padding: calc(var(--grid-gutter) * 2);
    display: flex;
    flex-direction: column;
    font-family: 'Suisse Int Book';
    gap: calc(var(--grid-gutter) * 3);

    ul {

      @media screen and (max-width: 600px) {

      }
    }

    li {
      font-size: 6rem;
      ul {
        background: transparent;
        li {
          a {
            @media screen and (max-width: 900px) {
              display: flex;
              gap:10px;
            }
            img {
              @media screen and (max-width: 900px) {
                filter: invert(1);
              }
            }
          }
          @media screen and (max-width: 900px) {
            font-size: 3rem;
          }
        }
      }
    }
  }

  &__button {
    position: absolute;
    left: calc(var(--grid-gutter) * 1);
    bottom: calc(var(--grid-gutter) * 1);
    width: calc(80vw - calc(var(--grid-gutter) * 2));

    a {
      background: var(--color-primary);
      padding: calc(var(--grid-gutter) * 2) calc(var(--grid-gutter) * 1.5);
      border-radius: var(--border-radius);
      width: 100%;
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
    }
  }

  &__close {
    position: absolute;
    right: calc(var(--grid-gutter) * 1);
    top: calc(var(--grid-gutter) * 2);
    cursor: pointer;
    height: 7rem;
    display: none;

    span {
      width: 7rem;
      display: block;
      height: 2px;
      background: var(--color-white);
      margin-bottom: 8px;
      transform: rotate(-45deg);
      position: relative;
      top: 9px;

      &:last-child {
        transform: rotate(45deg);
        top: 0px;
      }
    }
  }
}

body._menu {
  .mobilemenu {
    left: 0;
    transition: all 0.3s ease;
  }

  .mobilemenu__close {
    display: block;
  }

  .siteheader__burger {
    opacity: 0;
    transition: all 0.3s ease;
  }
}