:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #C1C1C1;

  --color-primary: #888063;
  --color-seconday: #EDEDEB;
  --bg-main:#EDEDEB;

  --font-h1: 132px;
  --font-h2: 46px;
  --font-h3: 40px;
  --font-body: 20px;
  --font-small:16px;

  --border-radius:15px;
}